<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <i class="fa fa-edit"></i>
                <strong>Cadastro</strong> / Forma de pagamento
            </div>
            <form role="form" name="formaPagamento" ng-submit="adicionar(formaPagamento)">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="form-group col-xs-12 col-sm-10 col-md-10 col-lg-10"
                                     ng-class="{'has-error': formaPagamento.Descricao.$dirty && formaPagamento.Descricao.$error.required}">
                                    <label class="control-label" for="Descricao">Descrição</label>
                                    <input type="text" class="form-control" id="Descricao" name="Descricao" placeholder="Descrição"
                                           ng-model="model.Descricao" maxlength="50" required>
                                    <div ng-show="formaPagamento.Descricao.$dirty && formaPagamento.Descricao.$error.required" class="error">
                                        <span>Campo Obrigatório.</span>
                                    </div>
                                </div>
                                <div class="form-group col-xs-12 col-sm-2 col-md-2 col-lg-2"
                                     ng-class="{'has-error': formaPagamento.Ativo.$dirty && formaPagamento.Ativo.$error.required}">
                                    <label class="control-label">Ativo</label>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="Ativo" ng-value="true" ng-model="model.Ativo" required>
                                            Sim
                                        </label>
                                        <label>
                                            <input type="radio" name="Ativo" ng-value="false" ng-model="model.Ativo" required>
                                            Não
                                        </label>
                                    </div>
                                    <div ng-show="formaPagamento.Ativo.$dirty && formaPagamento.Ativo.$error.required" class="error">
                                        <span>Campo Obrigatório.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-lg-12">
                            <button type="submit" class="btn btn-primary pull-right" ng-disabled="formaPagamento.$invalid">
                                Adicionar
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <i class="fa fa-table"></i>
                <strong>{{nomeTabela}}</strong>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="table table-bordered table-hover"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>