<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <i class="fa fa-edit"></i>
                <strong>Cadastro</strong> / Produto
            </div>
            <form role="form" name="produto" ng-submit="adicionar(produto)">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12"
                                     ng-class="{'has-error': produto.Descricao.$dirty && produto.Descricao.$error.required}">
                                    <label class="control-label" for="Descricao">Descrição</label>
                                    <input type="text" class="form-control" id="Descricao" name="Descricao" placeholder="Descrição"
                                           ng-model="model.Descricao" maxlength="80" required>
                                    <div ng-show="produto.Descricao.$dirty && produto.Descricao.$error.required" class="error">
                                        <span>Campo Obrigatório.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-4"
                                     ng-class="{'has-error': produto.Unidade.$dirty && produto.Unidade.$error.required}">
                                    <label class="control-label" for="Unidade">Unidade</label>
                                    <select class="form-control" id="Unidade" name="Unidade" ng-model="model.Unidade" required>
                                        <option ng-selected="{{opcao.codigo == model.Unidade}}"
                                                ng-repeat="opcao in model.Unidades"
                                                value="{{opcao.codigo}}">
                                            {{opcao.nome}}
                                        </option>
                                    </select>
                                    <div ng-show="produto.Unidade.$dirty && produto.Unidade.$error.required" class="error">
                                        <span>Campo Obrigatório.</span>
                                    </div>
                                </div>
                                <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-4"
                                     ng-class="{'has-error': produto.PrecoCusto.$dirty && produto.PrecoCusto.$error.required}">
                                    <label class="control-label" for="PrecoCusto">Preço custo</label>
                                    <input type="text" class="form-control" id="PrecoCusto" name="PrecoCusto" placeholder="Preço custo"
                                           ng-model="model.PrecoCusto" maxlength="12" required dinheiro-mask>
                                    <div ng-show="produto.PrecoCusto.$dirty && produto.PrecoCusto.$error.required" class="error">
                                        <span>Campo Obrigatório.</span>
                                    </div>
                                </div>
                                <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-4"
                                     ng-class="{'has-error': produto.PrecoVenda.$dirty && produto.PrecoVenda.$error.required}">
                                    <label class="control-label" for="PrecoVenda">Preço venda</label>
                                    <input type="text" class="form-control" id="PrecoVenda" name="PrecoVenda" placeholder="Preço venda"
                                           ng-model="model.PrecoVenda" maxlength="12" required dinheiro-mask>
                                    <div ng-show="produto.PrecoVenda.$dirty && produto.PrecoVenda.$error.required" class="error">
                                        <span>Campo Obrigatório.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-lg-12">
                            <button type="submit" class="btn btn-primary pull-right" ng-disabled="produto.$invalid">
                                Adicionar
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <i class="fa fa-table"></i>
                <strong>{{nomeTabela}}</strong>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="table table-bordered table-hover"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>