<div class="modal-content">
    <div class="inmodal">
        <div class="modal-header">
            <h4 class="modal-title">{{ confirmModalModel.titulo }}</h4>
        </div>
        <div class="modal-body">
            <form role="form" name="formaPagamento" ng-submit="editar(formaPagamento.$valid)">
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-10 col-md-10 col-lg-10"
                         ng-class="{'has-error': formaPagamento.Descricao.$dirty && formaPagamento.Descricao.$error.required}">
                        <label class="control-label" for="Descricao">Descrição</label>
                        <input type="text" class="form-control" id="Descricao" name="Descricao" placeholder="Descrição"
                               ng-model="model.Descricao" maxlength="50" required>
                        <div ng-show="formaPagamento.Descricao.$dirty && formaPagamento.Descricao.$error.required" class="error">
                            <span>Campo Obrigatório.</span>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-2 col-md-2 col-lg-2"
                         ng-class="{'has-error': formaPagamento.Ativo.$dirty && formaPagamento.Ativo.$error.required}">
                        <label class="control-label">Ativo</label>
                        <div class="radio">
                            <label>
                                <input type="radio" name="Ativo" ng-value="true" ng-model="model.Ativo" required>
                                Sim
                            </label>
                            <label>
                                <input type="radio" name="Ativo" ng-value="false" ng-model="model.Ativo" required>
                                Não
                            </label>
                        </div>
                        <div ng-show="formaPagamento.Ativo.$dirty && formaPagamento.Ativo.$error.required" class="error">
                            <span>Campo Obrigatório.</span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button"
                    class="btn btn-primary"
                    ng-click="confirmModalModel.salvar()"
                    ng-disabled="formaPagamento.$invalid">
                <i class="fa fa-check"></i> Salvar
            </button>
            <button type="button"
                    class="btn btn-warning"
                    ng-click="confirmModalModel.cancelar()">
                <i class="fa fa fa-arrow-left"></i> Cancelar
            </button>
        </div>
    </div>
</div>